* {
    font-family: 'Courier New', Courier, monospace;
    color: #d3d7cf;
}

a, i{
    text-decoration: none;
    font-weight: bold;
    color: #4e9a06;
}

body {
    background: #000;
}

#root-section {
    margin: 10px;
}

footer {
    bottom: 0;
}
